<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="../../css/bulma.css">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Rahil Rehan | Portfolio</title>
</head>

<body>

    <div class="columns ml-4">

        <!-- Portfolio -->
        <section class="section column is-4-tablet portfolio mt-6">
            <div class="field">

                <!-- Profile picture -->
                <div class="control has-text-centered">
                    <figure class="image is-inline-block">
                        <img id="profile-pic" src="../../imgs/me_light.jpeg" alt="profile-image" class="is-rounded">
                    </figure>
                </div>

                <!-- Social Media -->
                <div class="icons control mt-6">
                    <a href="https://twitter.com/rahil_rehan" target="__new">
                        <ion-icon name="logo-twitter" class="is-size-3 twitter"></ion-icon>
                    </a>
                    <a href="https://github.com/RahilRehan" target="__new">
                        <ion-icon name="logo-github" class="is-size-3 github"></ion-icon>
                    </a>
                    <a href="https://www.linkedin.com/in/rahil-rehan-39849a14b/" target="__new">
                        <ion-icon name="logo-linkedin" class="is-size-3 linkedin"></ion-icon>
                    </a>
                    <a href="http://instagram.com/rahil_rehan" target="__new">
                        <ion-icon name="logo-instagram" class="is-size-3 instagram"></ion-icon>
                    </a>
                    <a href="https://medium.com/@rahilmuti12345" target="__new">
                        <ion-icon name="logo-medium" class="is-size-3 medium"></ion-icon>
                    </a>
                </div>

                <!-- Simple About -->
                <div class="control about mt-6">
                    I love technology and education, interested in things that might drive future.<br>
                    I love playing badminton and my guitar to have fun! </p>
                </div>

                <!-- Navigation -->
                <nav class="control menu mt-6">
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                    <a href="/projects">Projects</a>
                    <a href="/resume">Resume</a>
                </nav>

                <!-- Footer, copyright -->
                <div class="control copyright mt-5 is-size-7 has-text-grey-light">
                    Designed & Built by Rahil Rehan
                </div>
            </div>
        </section>