<!-- Portfolio -->
<%- include('./partials/portfolio') %>

<section class="column is-7-tablet blog mt-5 has-text-left">
    <h1 class="is-size-3">I'm Rahil and I Love Building <span class="has-text-weight-medium">Software</span>.</h1>
    <p class="mt-3">I'm a software engineer with bachelors in Computer Science specializing in building exceptional
        websites, applications, and everything in between. I also have keen interest in Deep Learning and Drones.</p>

    <div>
        <div class="skills">
            <h2 class="is-size-4 mt-5">Skills</h2>
            <div class="columns mt-3 is-vcentered">
                <ul class="ml-2 column is-6">
                    <h3 class="is-size-5 mb-2">Primary Skills</h3>
                    <li>
                        <h3 class="is-size-6 mt-1">JavaScript</h3>
                        <progress class="progress mt-1 is-small is-danger" value="77" max="100"></progress>
                    </li>
                    <li>
                        <h3 class="is-size-6 mt-1">Python</h3>
                        <progress class="progress mt-1 is-small is-link" value="50" max="100"></progress>
                    </li>
                    <li>
                        <h3 class="is-size-6 mt-1">Datastructures and Algorithms</h3>
                        <progress class="progress mt-1 is-small is-warning" value="85" max="100"></progress>
                    </li>
                    <li>
                        <h3 class="is-size-6 mt-1">Golang</h3>
                        <progress class="progress mt-1 is-small is-primary" value="37" max="100"></progress>
                    </li>
                </ul>

                <ul class=" column is-6">
                    <h3 class="is-size-5 mb-2">Technologies</h3>
                    <li>
                        <h3 class="is-size-6 mt-1">NodeJS</h3>
                        <progress class="progress mt-1 is-small is-success" value="80" max="100"></progress>
                    </li>
                    <li>
                        <h3 class="is-size-6 mt-1">ExpressJS</h3>
                        <progress class="progress mt-1 is-small is-danger" value="80" max="100"></progress>
                    </li>
                    <li>
                        <h3 class="is-size-6 mt-1">MongoDB</h3>
                        <progress class="progress mt-1 is-small is-primary" value="80" max="100"></progress>
                    </li>
                    <li>
                        <h3 class="is-size-6 mt-1">ReactJS</h3>
                        <progress class="progress mt-1 is-small is-link" value="40" max="100"></progress>
                    </li>
                    <li>
                        <h3 class="is-size-6 mt-1">MySQL</h3>
                        <progress class="progress mt-1 is-small is-info" value="65" max="100"></progress>
                    </li>
                    <li>
                        <h3 class="is-size-6 mt-1">Pytorch</h3>
                        <progress class="progress mt-1 is-small is-warning" value="60" max="100"></progress>
                    </li>
                </ul>

            </div>

            <ul class="ml-2 mb-3">
                <h3 class="is-size-5 mt-2">Also worked with</h3>
                <p>Linux, Git, Bash, C++, Java, Drones, Deep Learning, Bulma ...</p>
            </ul>
        </div>

        <div class="tile is-parent mt-4">
            <article class="tile is-child notification has-background-primary-light">
                <p class="title is-size-4 mt-">Where I’ve Worked</p>
                <div>
                    <ul class="ml-6">
                        <li class="mb-2">
                            <h3 class="is-size-5">Drones and AI intern<span class="is-size-6 ml-3">@EigenVectors
                                </span><span class="is-size-7 ml-3  is-block-mobile">Aug 2019 -
                                    Dec
                                    2019</span></h3>
                            <ul>
                                <li> - Built and maintained object detection(Deep Learning) system on low-powered
                                    hardware of
                                    drones.
                                </li>
                                <li> - Fixed flight controller bugs</li>
                            </ul>
                        </li>
                        <li class="mb-2">
                            <h3 class="is-size-5">Teaching Assistant, English<span class="is-size-6 ml-3">@RGUKTN
                                </span><span class="is-size-7 ml-3 is-block-mobile">Aug 2018 -
                                    Dec
                                    2018</span></h3>
                            <ul>
                                <li> - My responsibilities were to help students and make sure they understand all
                                    of the
                                    concepts
                                    and lessons.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </article>
        </div>

        <div class="tile is-parent">
            <article class="tile is-child notification has-background-warning-light">
                <p class="title is-size-4">Education</p>
                <div>
                    <ul class="ml-6">
                        <li class="mb-2">
                            <h3 class="is-size-5">Computer Science Engineering <span class="is-size-6 ml-3">@RGUKTN
                                </span>
                                <span class="is-size-7 ml-3 is-block-mobile">Aug 2017 -
                                    2021</span></h3>
                            <ul>
                                <li> - CGPA - 9.24
                                </li>
                            </ul>
                        </li>
                        <li class="mb-2">
                            <h3 class="is-size-5">Pre-University Course <span class="is-size-6 ml-3">@RGUKTN </span>
                                <span class="is-size-7 ml-3 is-block-mobile">Aug 2018 -
                                    Dec
                                    2018</span></h3>
                            <ul>
                                <li> - CGPA - 9.18
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </article>
        </div>

        <div class="tile is-parent mb-5">
            <article class="tile is-child notification has-background-success-light">
                <p class="title is-size-4">Accomplishments</p>
                <div>
                    <ul class="ml-6">
                        <li class="mb-2">
                            <h3 class="is-size-5"> - 3 times Paper Presentation Winner <span
                                    class="is-size-6 ml-3">@Teckzite</span>
                        </li>
                        <li class="mb-2">
                            <h3 class="is-size-5"> - Spelling Bee, Reagional Finalist <span
                                    class="is-size-6 ml-3">@SpellingBee
                                    India</span>
                        </li>
                        <li class="mb-2">
                            <h3 class="is-size-5"> - Ideation, Runner-up <span class="is-size-6 ml-3">@Teckzite
                                </span>
                        </li>
                        <li class="mb-2">
                            <h3 class="is-size-5"> - Crawler, Winner <span class="is-size-6 ml-3">@Teckzite
                                </span>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
    </div>
</section>

<%- include('./partials/footer') %>