<!-- Portfolio -->
<%- include('./partials/portfolio') %>

<section class="column is-7-tablet blog">
    <div class="columns mt-2 is-multiline mb-6">
        <div class="card column is-6-desktop is-12-tablet mt-6">
            <div class="card-image">
                <figure class="image is-5by3">
                    <img src="../../imgs/p2p.png" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="content">
                    <a href="https://github.com/RahilRehan/BitTorrentClientGolang" target="_new">
                        <h3 class="is-size-4">Simple BitTorrent Client (Golang)</h3>
                    </a>
                    <p>Designed and built a single file bittorrent client built from scratch using golang, Handled
                        concurrency while downloading from peers. </p>
                    Built with: <a href="#">#Go</a>
                </div>
            </div>
        </div>
        <div class="card column is-6-desktop is-12-tablet mt-6">
            <div class="card-image">
                <figure class="image is-5by3">
                    <img src="../../imgs/drone.jpg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="content">
                    <a href="https://github.com/RahilRehan/Object-Detection-on-Tello-Drone" target="_new">
                        <h3 class="is-size-4">Object Detection on Tello Drone</h3>
                    </a>
                    <p>Built and maintained object detection(tiny yolo) on low-powered hardware of drones. Fixed flight
                        controller bugs</p>
                    Built with: <a href="#">#Python</a> <a href="#">#Pytorch</a> <a href="#">#openCV</a>
                </div>
            </div>
        </div>
        <div class="card column is-6-desktop is-12-tablet mt-6">
            <div class="card-image">
                <figure class="image is-2by1">
                    <img src="../../imgs/research.jpg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="content">
                    <a href="https://github.com/Delhi-Hacksteam/ResearchHub" target="_new">
                        <h3 class="is-size-4">Research Hub</h3>
                    </a>
                    <p>A platform where researchers/institutions can easily crowdsource for funding and find volunteers.
                    </p>
                    Tech stack: <a href="#">#MERN</a>
                </div>
            </div>
        </div>

        <div class="card column is-6-desktop is-12-tablet mt-6">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../../imgs/trie.jpg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="content">
                    <a href="https://github.com/RahilRehan/AmazeFileSearch" target="_new">
                        <h3 class="is-size-4">AmazeFileSearch</h3>
                    </a>
                    <p>Implementation of efficient searching for text in files using tries, one time computation.
                    </p>
                    Built with: <a href="#">Python</a>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('./partials/footer') %>